# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Build Output
# ==========================
dist/
coverage/

# ==========================
# Environment Variables
# ==========================
.env
.env.*
!.env.example

# ==========================
# Logs
# ==========================
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDE
# ==========================
.vscode/settings.json

# ==========================
# Prisma
# ==========================
prisma/dev.db
prisma/dev.db-journal

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp
/src/generated/prisma
